<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="S3PU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>Bean.RespuestaBean</class>
    <class>Bean.PeriodoBean</class>
    <class>Bean.EncuestaBean</class>
    <class>Bean.PreguntaBean</class>
    <class>Bean.RealizaBean</class>
    <class>Bean.AdministradorBean</class>
    <class>Bean.AlumnoBean</class>
    <class>Bean.ResultadoBean</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/SETIC?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.password" value="Qsy1AMl43_0"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
    </properties>
  </persistence-unit>
</persistence>
